# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
llmenv/
dataengineering/
ragllm/

# Mac system files
.DS_Store

# Environment files
.env

#chromadb
chromadb

embeddings_cache.pkl

# Ignore ChromaDB data
chromadb_data/

# Ignore .vtt files
*.vtt